* {
    margin: 0;
    padding: 0;
    border: none;

    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: url(../img/yellow_flora.jpeg) repeat;
    color: white;
}


main, footer { 
    text-align: center;
    background: rgba(255, 255, 255, 0.573);
}

main {
    padding-top: 10px;
    padding-bottom:25%;}

article li {
    margin-left: 20px;
}

article h2 { 
    margin: 8px 8px 8px 0px; 
}

article > ul > li {
    padding-bottom: 8px;
}

main > article {
    text-align: left;
    display: inline-block;
    width: 25%;

    border: thin solid white;
    border-radius: 8px;
    margin: 0 12px;
}
#todo { background: #93bdc9e3;}
#inprogress { background: #b0b889e0;
}
#done { background: #f9d483d7;
}

article:first-of-type h2 { color: #3896b0;}

#inprogress .inprogress {color: rgb(73, 148, 73);}

article:last-of-type h2 { color: #e3a011;}