* {
    margin: 0;
    padding: 0;
    border: none;

    box-sizing: border-box;
}

body {
    font-family: 'Yeseva One', cursive;
    background: url(../img/yellow_flora.jpg) repeat;
    color: white;
    contain: content;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

header h1 {
    
    color: black;
    background: white;
    height: 80px;
    text-align: center;
    padding: 20px;
    position: sticky;
}

main, footer { 
    text-align: center;
    background: rgba(255, 255, 255, 0.573);
}

main {
    padding-top: 10px;
    padding-bottom:25%;
}

#howto {
    padding-top: 80px;
    padding-bottom: 60px;
    color: rgb(131, 131, 131);
    background-color: rgba(255, 255, 255, 0.407);
}
#howto p {
    font-weight: bold;
}

article ul {
    padding-left: 40px;
    padding-right: 40px;
    list-style-type: none;
}


article h2 { 
    margin: 25px 8px 30px 0px; 
    text-align: center;
}

article > ul > li {
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
}

input[type=text] {
    border: none;
    background: none;
    font-size: 16px;
    font-family:'Yeseva One', cursive;
    color: white;
}

input[type=text]::placeholder {
    color: white;
}

input[type=text]:focus {
    outline: none;
}

main > article {
    text-align: left;
    display: inline-block;
    width: 30%;
    margin:12px;    
    position: relative;
}
#todo { background: #9fc4cee1;
}
#todo li {
    border-top: #20758c solid;
}

#todo li:last-child {
    padding-bottom: 40px;
}


#inprogress { background: #b0b889e0;
}
#inprogress li {
    border-top: #889742 solid;
}

#inprogress li:last-child {
    padding-bottom: 40px;
}

#done { background: #f9d483d7;
}
#done li {
    border-top: #c28c18 solid;
}

#done li:last-child {
    padding-bottom: 40px;
}

article:first-of-type h2 { color: #3896b0;}

#inprogress .inprogress {color: #889742;}

article:last-of-type h2 { color: #e3a011;}

input[type=checkbox] {
    width: 100px;
    position: absolute;
}

.cb-green:checked {
    width: 0px;
    height: 0px;
    position: absolute ;
}
.cb-green:checked::after{
    content: '\2713';/*this makes a checkmark*/
    width: 25px;
    height: 25px;
    padding: 0px 0px 34px 240px;
    position: absolute;
    top: -25px;
    right: -83px;
    font-size: 20pt;
    font-weight: bolder;
    color: #f3ffba;
    background-color: #8797427b;
    border-top: 10px solid #87974200;
    border-right: 15px solid #87974200;

    animation: fadeIn 0.7s;
}

.cb-yellow:checked {
    background-color: #889742;
    width: 0px;
    height: 0px;
    position: absolute ;
}
.cb-yellow:checked::after{
    content: '\2713';/*this makes a checkmark*/
    width: 25px;
    height: 25px;
    padding: 0px 0px 34px 240px;
    position: absolute;
    top: -25px ; 
    right: -83px;
    font-size: 20pt;
    font-weight: bolder;
    color: #fff2d7;
    background-color: #e3a01167;
    border-top: 10px solid #e3a01100;
    border-right: 15px solid #e3a01100;

    animation: fadeIn 0.7s;
}

.footer {
    background: white;
    height: 50px;
    position:sticky;
    color: black;
    text-align: center;
}

p:last-child {
    padding-top: 15px;
}

.footer {
    font-weight: lighter;
    color: rgb(131, 131, 131);
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }